# Paystack
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_live_xxxxxxxxxxxxx
OMIX_SUBACCOUNT_CODE=SPL_xxxxxxxxxxxxx

# Frontend URL
FRONTEND_URL=https://stor1-web.onrender.com

# Server
PORT=3001
ADMIN_EMAIL=omixsystems@gmail.com
