# Paystack
PAYSTACK_SECRET_KEY=sk_live_xxxxxxxxxxxxx
PAYSTACK_PUBLIC_KEY=pk_live_xxxxxxxxxxxxx
OMIX_SUBACCOUNT_CODE=SPL_xxxxxxxxxxxxx

# Frontend URL
FRONTEND_URL=https://stor1-web.onrender.com

# Server
PORT=3001
ADMIN_EMAIL=omixsystems@gmail.com

# VAPID Keys for Web Push — generated 2026-07-05
# Set these on Render dashboard (Environment Variables)
VAPID_PUBLIC_KEY=BPhxtDNdfvoDOm_NRHZb_tOL-som7crt70tBd8xBOzAG9A1cO8pCqAp-gLJrGWLikSzbsVmrZt07DmyGoRWwTMo
VAPID_PRIVATE_KEY=5XzifMndyCF_LRKD3_lBFqJciSX3OQdmZnp8sXFSm2A

# Resend (email)
RESEND_API_KEY=
RESEND_FROM=Omix Store <onboarding@resend.dev>
